@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
    /* Weights: 500, 700 */
}
body {
    font-family: "Manrope", sans-serif;
    font-size: 13px;
    background: var(--Light-Grayish-Blue);
}
.main {
    height: 100vh;
    display: grid;
    place-content: center;
}
.card {
    margin: 1em;
    width: 320px ;
    background: #fff;
    border-radius: 1em;
    overflow: hidden;
    
    .container-image {    
        img {
            width: 100%;
            aspect-ratio: 12 / 8;
            object-fit: cover;
        }
    }
    
    .container-content {
        padding: 1em;

        .highlight {
            font-weight: 700;
        }

    }
}

.btn-share {
    img {
        width: 20px;

    }
}